.brands-carousel {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px 30px;
}

.brands-carousel .brands-carousel-container {
    background: #e6edf8;
    border-radius: 7px;
    padding: 20px 50px 10px;
}

.brands-carousel li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.brands-carousel .owl-prev {
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translate(0, -50%);
}

.brands-carousel .owl-next {
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translate(0, -50%);
}

/* politics-block */
.politics-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.politics-block .politics-link {
    width: 55%;
    /* flex-basis: 50%; */
    flex-shrink: 0;
    padding-left: 20px;
    margin-top: 22px;
}
.politics-link {
    font-size: 12px;
    line-height: 1.1;
}
.politics-link a {
    color: #000;
    font-weight: 600;
}

.politics-link.politics-link--faq {
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
}


