@import url(./fonts/exotwo/exotwo.css);
/*@import url(./origin/font-awesome.min.css);*/
@import url(./origin/jquery.formstyler.css);
@import url(./origin/jquery.formstyler.theme.css);
@import url(owl.carousel/dist/assets/owl.carousel.min.css);
@import url(./origin/seonity.css);
@import url(./origin/styles.css);
@import "bootstrap/dist/css/bootstrap-utilities.min.css";

.list-unstyled {
    list-style: none;
}

.contacts-qr-code {
    width: 120px;
}

@media (min-width: 768px) {
    .contacts-qr-code {
        width: 160px;
    }
}

@media (min-width: 992px) {
    .contacts-qr-code {
        width: 180px;
    }
}

.header-city {
    color: white;
}
